# ide and macOS finder files
.idea/**
.vscode/**
**/.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# go coverage tool output
*.out

# workspace file
go.work

# dependency directories (uncomment the line below to include)
# vendor/
